<div class="container">
    <section class="wrapper">
        <div class="container">
            <span class="arrow arrow-left">&#60;</span>
            <span class="arrow arrow-right">&#62;</span>

            <div class="d-flex">
                <div class="card">
                    <div class="img__container">
                        <img src="https://images.pexels.com/photos/6407630/pexels-photo-6407630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="salad" class="card__img">
                    </div>
                    <p class="card__txt">Crispy Crouton Salad</p>
                </div>
                <div class="card">
                    <img src="https://images.pexels.com/photos/4101143/pexels-photo-4101143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="pancake" class="card__img">
                    <p class="card__txt">Pancakes</p>
                </div>
                <div class="card">
                    <img src="https://images.pexels.com/photos/3965543/pexels-photo-3965543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="donuts" class="card__img">
                    <p class="card__txt">Crispy</p>
                </div>
                <div class="card">
                    <img src="https://images.pexels.com/photos/3962285/pexels-photo-3962285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="pizza" class="card__img">
                    <p class="card__txt">Perfect Neapolitan Pizza</p>
                </div>
                <div class="card">
                    <img src="https://images.pexels.com/photos/4246120/pexels-photo-4246120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="pancakes" class="card__img">
                    <p class="card__txt">Pancakes with yogurt</p>
                </div>
            </div>
        </div>
    </section>
</div>