<div class="cont">
    <form class="form" [formGroup] = "passwordForm">
        <h2 class="form_tittle">Recuperar contraseña</h2>
        <p class="form_paragraph">Escriba su nueva contraseña</p>

        <div class="form__container">
            <div class="form__group">
                <input type="password" name="" id="name" class="form__input" placeholder=" " formControlName="password">
                <label for="name" class="form__label">Contraseña:</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="password" name="" id="name" class="form__input" placeholder=" " formControlName="rpassword">
                <label for="name" class="form__label">Repetir Contraseña:</label>
                <span class="form__line"></span>
            </div>
            <input type="button" class="form__submit" value='Enviar' (click) = "runNewPassword()">
        </div>
    </form>
</div>
