<div class="landing-page">
    <div class="form-appointment">
        <div class="wpcf7" id="wpcf7-f560-p590-o1">
            <form class="wpcf7-form" novalidate="novalidate" _lpchecked="1" [formGroup]="sendOpForm">
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="560">
                    <input type="hidden" name="_wpcf7_version" value="3.5">
                    <input type="hidden" name="_wpcf7_locale" value="">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p590-o1">
                    <input type="hidden" name="_wpnonce" value="dbb28877d5">
                </div>
                <div class="group" >
                    <div style="width: 48%; float: left;">
                        <span class="wpcf7-form-control-wrap text-680"><input type="text" name="text-680" value=""
                                size="45" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                aria-required="true" placeholder="Nombre" formControlName="nombre"></span><br>
                        <span class="wpcf7-form-control-wrap email-680"><input type="email" name="email-680" value=""
                                size="45"
                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                aria-required="true" placeholder="Correo" formControlName="email"></span><br>
                        <span class="wpcf7-form-control-wrap tel-630"><input type="tel" name="tel-630" value=""
                                size="45"
                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control"
                                aria-required="true" placeholder="Celular" formControlName="celular"></span><br>
                        <span class="wpcf7-form-control-wrap textarea-398 form-control"><textarea name="textarea-398" cols="40"
                                rows="10" class="wpcf7-form-control wpcf7-textarea"
                                placeholder="Coméntanos!!" formControlName="opinion"></textarea></span>
                    </div>
                    <!-- 
                    <div style="width: 48%; float: right;">
                        <h4>¿Como prefieres que te contacten?</h4>
                        <p><span class="wpcf7-form-control-wrap radio-98"><span
                                    class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item"><label><input
                                                type="radio" name="radio-98" value="Phone">&nbsp;<span
                                                class="wpcf7-list-item-label">Celular</span></label></span><span
                                        class="wpcf7-list-item"><label><input type="radio" name="radio-98"
                                                value="Email">&nbsp;<span
                                                class="wpcf7-list-item-label">Correo</span></label></span></span></span>
                        </p>
                        <h4>Dias disponibles en semana:</h4>
                        <p><span class="wpcf7-form-control-wrap checkbox-465"><span
                                    class="wpcf7-form-control wpcf7-checkbox"><span
                                        class="wpcf7-list-item"><label><input type="checkbox" name="checkbox-465[]"
                                                value="Monday">&nbsp;<span
                                                class="wpcf7-list-item-label">Lunes</span></label></span><span
                                        class="wpcf7-list-item"><label><input type="checkbox" name="checkbox-465[]"
                                                value="Tuesday">&nbsp;<span
                                                class="wpcf7-list-item-label">Martes</span></label></span><span
                                        class="wpcf7-list-item"><label><input type="checkbox" name="checkbox-465[]"
                                                value="Wednesday">&nbsp;<span
                                                class="wpcf7-list-item-label">Miercoles</span></label></span><span
                                        class="wpcf7-list-item"><label><input type="checkbox" name="checkbox-465[]"
                                                value="Thursday">&nbsp;<span
                                                class="wpcf7-list-item-label">Jueves</span></label></span><span
                                        class="wpcf7-list-item"><label><input type="checkbox" name="checkbox-465[]"
                                                value="Friday">&nbsp;<span
                                                class="wpcf7-list-item-label">Viernes</span></label></span></span></span>
                        </p>
                        <h4>Estoy disponible en la:</h4>
                        <p><span class="wpcf7-form-control-wrap checkbox-246"><span
                                    class="wpcf7-form-control wpcf7-checkbox"><span
                                        class="wpcf7-list-item"><label><input type="checkbox" name="checkbox-246[]"
                                                value="Morning">&nbsp;<span
                                                class="wpcf7-list-item-label">Mañana</span></label></span><span
                                        class="wpcf7-list-item"><label><input type="checkbox" name="checkbox-246[]"
                                                value="Afternoon">&nbsp;<span
                                                class="wpcf7-list-item-label">Tarde</span></label></span></span></span>
                        </p>
                    </div>-->
                </div>
                <div
                    style="text-align: center; padding-top: 2em; border-top: 1px solid rgb(153, 202, 129); margin-top: 1em;">
                    <input type="button" value="Enviar" (click)="sendOp()" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader"
                        src="http://www.professionalaudiologicalservices.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif"
                        alt="Sending ..." style="visibility: hidden;">
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
            </form>
        </div>
    </div>
</div>