<div class="cont">
    <form class="form">
        <h2 class="form_tittle">Ingresa los datos</h2>
        <p class="form_paragraph">¿Ya tienes cuenta? <a href="/login" class="form__link">Entra aqui</a></p>

        <div class="form__container">
            <div class="form__group">
                <input type="text" name="" id="name" class="form__input" placeholder=" ">
                <label for="name" class="form__label"> Correo:</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" name="" id="name" class="form__input" placeholder=" ">
                <label for="name" class="form__label"> Contraseña:</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" name="" id="name" class="form__input" placeholder=" ">
                <label for="name" class="form__label"> Repetir Contraseña:</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" name="" id="name" class="form__input" placeholder=" ">
                <label for="name" class="form__label"> Ciudad:</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" name="" id="password" class="form__input" placeholder=" ">
                <label for="password" class="form__label"> Nombre:</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" name="" id="password" class="form__input" placeholder=" ">
                <label for="password" class="form__label"> Apellido:</label>
                <span class="form__line"></span>
            </div>

            <input type="submit" class="form__submit" value='Registrarse'>
        </div>
    </form>
</div>